{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>
        Web developed by <a href="https://github.com/TehWeifu">JulianBSL</a> for his friend
        <a href="https://dle.rae.es/madrile%C3%B1o" target="_blank">Leo</a>.
    </p>
{{end}}
